{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename ='assets/img/books.jfif ')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About</h1>
                            <span class="subheading">This is what I do and the mindset behind this blog.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am Aaryan Ahuja, a second year engineering student at Indian Institute of Technology, Delhi. I have started to code recently and find it logical, impressive, tough but interesting. Although my core engineering branch is Mechanical Engg but maybe I can pull off practising programming alongwith my courses.  </p>
                        <p>Coming on to the blog, this is the first time I have seen a blog actually :)). I don't know how  to structure it or what content needs to be written but still I am trying my best to put it together.</p>
                        <p>Although the readers' domain for this blog is universal but it is specially focused for science enthusiasts. I am a lover of theoretical physics and I will try to put up my opinions with respect to its domains. Maybe we can take some time and study about how things around us actually work. God( or whatever else you may call him) has created a beauty......embrace it. Hoping to see you join with me.  </p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

{% endblock %}